<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="wap-font-scale" content="no">
	<meta name="description" content="钱趣多（qianquduo.com）让理财成为一种乐趣，100元起投，0手续费，随存随取，项目来自国企应收账款，大型保理公司100%本息保障。钱趣多-让理财成为一种乐趣！">
	<meta name="keywords" content="活期理财、互联网金融平台、P2P理财、互联网理财、网上理财、网络理财、网络投资、债权投资、国企应收账款">
	<title>钱趣多-趣赚钱-趣生活</title>
	<link rel="apple-touch-icon-precomposed" href="static/common/img/ico/favicon.png">
	<link rel="shortcut icon" href="static/common/img/ico/favicon.png">
	<link rel="stylesheet" type="text/css" href="static/common/swiper/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="static/common/style/reset.css">
	<link rel="stylesheet" type="text/css" href="static/common/style/style.css">
	<link rel="stylesheet" type="text/css" href="static/common/style/version.css">
	
</head>
<body>
   <div id="app">
		<div class="middleContent   fixBottom">
			<article>
			    <div class="mid_con" >
				    <h1 class="chuangwei_title">{{dataNotice.title}}</h1>
				    <div class="chuangwei_info nopaddings">  
				        <span>{{transTime(dataNotice.createDate)}}</span>
				        <span>{{dataNotice.plays?dataNotice.plays:0}}次播放</span>
				    </div>
				</div>
			    <div  class="mid_con borderB15" >
				    <div id="chuangwei_content" class="videos_content">
				       <div id="chuangwei_content_inner">
				             {{dataNotice.content}}    
				       </div>
				    </div>
			    </div>
			    <div class="mid_con borderB15">
	               <div class="commonTitle"><p>相关视频</p></div>
	               <!-- Swiper -->
				   <div class="swiper-container" id="baberIndex">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide" v-for="item in videoData" @click="itemDetails(item.resourceId,item.videoUrl)"> 
	                           <div class="inners">
	                              <div class="tops">
	                                 <img class="cover" :src="item.coverImg" />
	                                 <div class="playDuration">{{item.whenLong}}</div>
	                              </div>
	                              <div class="titles  line-clamp-2">{{item.title}}</div>
	                           </div>
				            </div>
				        </div>
				        <!-- Add Pagination -->
				    </div>
			    </div>
			    <div class="mid_con"> 
	               <div class="commonTitle"><p>热门评论</p><span class="more" @click="moreCommands(dataNotice.resourceId)">更多</span></div>
	               <div class="command_con" id="command_con">
	               	  <div class="nocomand" v-if="(!commandData||commandData.length<=0)">暂无评论内容</div>
	                  <div v-for="item in commandData" class="clearfix box">
	                     <div class="left">
	                        <img class="radius50" :src="item.src?item.src:'static/common/images/initHead.png'" />
	                     </div>
	                     <div class="right">
	                        <div class="messages">
	                           <p class="user">{{item.customerAccount}}</p>
	                           <p class="count" @click="thumbsUp({nowId:dataNotice.resourceId,id:item.resourceId,customerId:item.customerAccount})">{{item.likes}}</p>
	                           <p class="times">{{fromTime(item.createTime)}}</p>
	                        </div>
	                        <p class="command">{{item.comment}}</p>
	                     </div>  
	                  </div>
	               </div>
			    </div>
			    
			</article>
		 </div>
         

	</div>  
</body>
<script type="text/javascript" src="static/common/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="static/common/swiper/swiper.min.js"></script>
<script type="text/javascript"  src="static/js/moment.js"></script>

<script type="text/javascript" src="static/js/vue.js"></script>
<script type="text/javascript" src="static/js/mobiles.js"></script>
<script type="text/javascript" src="static/components/commoncomp.js"></script>
<script type="text/javascript"  src="static/js/videos.js"></script>
</html>